<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tearsFirst01.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,23},{19,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>tearsFirst02.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2},{19,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>tearsFirst03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>tearsFirst04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{17,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{17,24}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tears_First.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a654914c407b216810432678350809d9:1/1$</string>
            <key>textureFileName</key>
            <string>tears_First.png</string>
        </dict>
    </dict>
</plist>
